<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Busca produto
<form method="GET">
    <input name="busca_produto">
    <input type="submit" value="Buscar">
</form>
<table>
    <th>
    <td>Nome</td>
    </th>
    {% for p in produtos %}
        <form method="POST">
{% csrf_token %}
            <tr>
                <td>{{ p.descricao }}</td>
            </tr>
            <input hidden name="id_produto" value="{{ p.id }}">
                    <input type="submit" value="Adicionar">
        </form>
    {% endfor %}
</table>

</body>
</html>