{% extends 'base.html' %}

{% block 'titulo' %} Adiciona Item {% endblock %}

{% block 'conteudo' %}
<div class="container">
    <br>
    <div class="row">
        <div class="form-group col-sm form-inline">
            <form method="GET">
                <input class="form-control form-control-sm" name="busca_produto" placeholder="Digite o Produto">
                <input class="form-control form-control-sm" type="submit" value="Buscar">
            </form>
        </div>
    </div>    
    <a href="{% url 'item_orcamento' id_orcamento %}" class="btn btn-primary btn-sm">Cancelar</a>
 
    {% if produtos %}
    <hr>
        {% for p in produtos %}
            <form action="" method="POST">{% csrf_token %}
                <div class="form row">
                    <input hidden name="id_produto" value="{{ p.id }}">
                    <div class="form-group col-md-4">
                        <label for="descricao">Descrição</label>
                        <input class="form-control form-control-sm" name="descricao" value="{{ p.descricao }}" readonly>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="quantidade">Quantidade</label>
                        <input class="form-control form-control-sm" name="quantidade" type="number" id="quantidade" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="desconto">Desconto</label>
                        <div class="form-inline">
                            <input class="form-control form-control-sm" name="desconto" type="text" id="desconto" style="width: 30%">&nbsp;&nbsp;&nbsp;
                            <input class="form-control form-control-sm" type="submit" value="Adicionar" style="width: 50%">
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}    
    {% endif %}

</div>
{% endblock %}