{% extends 'base.html' %}

{% block 'titulo' %} Clientes {% endblock %}

{% block 'conteudo' %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md">
        <br>
        <h2>Clientes</h2>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-6">
          <form action="" method="GET">
              <div class="form-group row">
                  <input class="form-control" type="search" id="search-input" placeholder="Buscar" name="termo">
              </div>
          </form>
      </div>
      <div class="col-md"></div>
      <div class="col-md">
          <a href="{% url 'cria_cliente' %}" type="button" class="btn btn-success">Cadastrar novo Cliente</a>
      </div>
  </div>
  <div class="row">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Razão Social</th>
          <th scope="col">CNPJ</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">Contato</th>
          <th scope="col">Celular</th>
          <th scope="col">Cidade</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for i in clientes %}
            <tr>
              <td>{{ i.nome_completo }}</td>
              <td>{{ i.razao_social }}</td>
              <td>{{ i.cnpj }}</td>
              <td>{{ i.cpf }}</td>
              <td>{{ i.telefone }}</td>
              <td>{{ i.contato }}</td>
              <td>{{ i.celular }}</td>
              <td>{{ i.cidade }}</td>
              <td><a href="#" type="button" class="btn btn-info btn-sm">Editar/Excluir</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">

  function mask(o,f){
  v_obj=o
  v_fun=f
  setTimeout("execmask()",1)
  }
  
  function execmask(){
  v_obj.value=v_fun(v_obj.value)
  }
  
  function masktel(v){
  v=v.replace(/\D/g,"");
  v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
  v=v.replace(/(\d)(\d{4})$/,"$1-$2");
  return v;
  }
  
  function maskcpf(v){ 
  v=v.replace(/\D/g,"");
  v=v.replace(/(\d{3})(\d)/,"$1.$2");
  v=v.replace(/(\d{3})(\d)/,"$1.$2");
  v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2");
  return v;
  }
  
  function maskcnpj(v){
  v=v.replace(/\D/g,"");                        
  v=v.replace(/^(\d{2})(\d)/,"$1.$2");          
  v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
  v=v.replace(/\.(\d{3})(\d)/,".$1/$2");       
  v=v.replace(/(\d{4})(\d)/,"$1-$2");
  return v;
  }
  
  
  function idcss( el ){
    return document.getElementById( el );
  }
  
  window.onload = function(){
      
      
      //TEL FIXO -------
      idcss('tel_fixo').setAttribute('maxlength', 14);
    idcss('tel_fixo').onkeypress = function(){
      mask( this, masktel );
    }
    //-------------
    
    
      //CELULAR -------
      idcss('tel_celular').setAttribute('maxlength', 15);
    idcss('tel_celular').onkeypress = function(){
      mask( this, masktel );
    }
    //-------------
    
    
    //CPF ---------
    idcss('cpf').setAttribute('maxlength', 14);
    idcss('cpf').onkeypress = function(){
      mask( this, maskcpf );
    }
    //-------------
    
    
    //CNPJ --------
    idcss('cnpj').setAttribute('maxlength', 18);
    idcss('cnpj').onkeypress = function(){
      mask( this, maskcnpj );
    }
    //-------------
    
  }
  </script>
  

{% endblock %}