{% extends 'base.html' %}

{% block 'titulo' %} {% endblock %}

{%block 'conteudo' %} 
<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Cadastro de Cliente</h2>
    </div>
    <br>
    <br>

    <form method="POST">{% csrf_token %}
        <label for="{{form.tipo.id_for_label}}">{{form.tipo.label}}</label>
        {{form.tipo}}

        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="{{ form.razao_social.id_for_label }}">{{ form.razao_social.label }}</label>
                <input class="form-control" type="text" name="{{ form.razao_social.html_name }}" id="{{ form.razao_social.id_for_label }}"
                    value="{% if form.razao_social.value %} {{ form.razao_social.value }} {% endif %}">
            </div>
            <div class="form-group col-md-5">
                <label for="{{ form.nome_fantiasia.id_for_label }}">{{ form.nome_fantasia.label }}</label>
                <input class="form-control" type="text" id="{{ form.nome_fantasia.id_for_label }}" name="{{ form.nome_fantasia.html_name }}"
                    value="{% if form.nome_fantasia.value %} {{ form.nome_fantasia.value }} {% endif %}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="{{ form.cnpj.id_for_label }}">{{ form.cnpj.label }}</label>
                <input class="form-control" type="text" id="{{ form.cnpj.id_for_label }}" name="{{ form.cnpj.html_name }}"
                    value="{% if form.cnpj.value %} {{ form.cnpj.value }} {% endif %}">
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.inscricao_est.id_for_label }}">{{ form.inscricao_est.label }}</label>
                <input class="form-control" type="text" id="{{ form.inscricao_est.id_for_label }}" name="{{ form.inscricao_est.html_name }}"
                    value="{% if form.inscricao_est.value %} {{ form.inscricao_est.value }} {% endif %}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.nome_completo.id_for_label }}">{{ form.nome_completo.label }}</label>
                <input class="form-control" type="text" id="{{ form.nome_completo.id_for_label }}" name="{{ form.nome_completo.html_name }}"
                    value="{% if form.nome_completo.value %} {{ form.nome_completo.value }} {% endif %}">
            </div>
            <div class="form-group col-md-3">
                <label for="{{ form.rg.id_for_label }}">{{ form.rg.label }}</label>
                <input class="form-control" type="text" id="{{ form.rg.id_for_label }}" name="{{ form.rg.html_name }}"
                    value="{% if form.rg.value %} {{ form.rg.value }} {% endif %}">
            </div>
            <div class="form-group col-md-3">
                <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                <input class="form-control" type="text" id="{{ form.cpf.if_for_label}}" name="{{ form.cpf.html_name }}"
                    value="{% if form.cpf.value %} {{ form.cpf.value }} {% endif %}">
            </div>
        </div>
       
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">
    </form>
<div>
{% endblock%}

<table>
    {{form.as_table}}
    <p>{{form.razao_social.errors}}</p>

</table>