{% extends 'base.html'%}

{% block 'titulo' %} Cria Orcamento {% endblock %}

{%block 'conteudo' %}
<div class="container">
    <div style="text-align: center">
        <br>

        <h2>Cadastrar Orçamento</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}

    </div>
    <form method="POST" action="{% url 'cria_orcamento' %}">{% csrf_token %}
        <br>
        <div class="form row">
            <div class="form-group col-md-5">
                <label for="situacao">Situação:</label>
                <select name="situacao" class="form-control" id="situacao">
                    {% for orc in orcamento.choice %}
                        <option value="{{orc.0}}">{{ orc.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form row form.group col-md-3" >
                <p>Criado em: {{orcamento.data_criacao}}</p>
            </div>
        </div>
        <br>
        <div class="form row">
            <div class="form-group col-md-5">
                <label for="cliente">Cliente:</label>
                <select name="cliente" class="form-control" id="cliente">
                    <option selected>Escolher...</option>
                    {% for cli in clientes %}
                        <option value="{{cli.id}}">{% if cli.razao_social %}{{ cli.razao_social }}{% else %}{{ cli.nome_completo }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="terceiro">Terceiro:</label>
                <select name="terceiro" class="form-control" id="terceiro">
                    <option selected>Escolher...</option>
                    {% for terc in terceiros %}
                        <option value="{{terc.id}}">{% if terc.razao_social %}{{ terc.razao_social }}{% else %}{{ terc.nome_completo }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="observacao">Observação:</label>
                <textarea class="form-control" id="observacao" name="observacao"
                    rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="inlineform form-inline">
            <div class="form-group col-md-3">
                <label form="valorTotal">Valor Total:</label>&nbsp
                <input class="form-control" type="text" id="valorTotal" name="valorTotal" style="width: 40%" value="">
            </div>
            <div class="form-group col-md-2">
                <label form="desconto">Desconto:</label>&nbsp
                <input class="form-control" type="text" id="desconto" name="desconto" style="width: 40%" value="">
            </div>
            <div class="form-group col-md-3">
                <label form="valorDesconto">Valor com Desconto:</label>&nbsp
                <input class="form-control" type="text" id="valorDesconto" name="valorDesconto" style="width: 35%" value="">
            </div>
            <div class="form-group col-md-2">
            </div>
        </div>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'orcamentos' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
</div>
{% endblock %}

{% block 'scripts' %}

{% endblock %}