{% extends 'base.html' %}

{% block 'titulo' %} Criar Servico {% endblock %}

{% block 'conteudo' %}

<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Cadastro de Serviços</h2>
    </div>
    <br>
    <br>
    <form action="{% url 'valida_servico' %}" method="POST" >{% csrf_token %}
        <label>Descrição:</label>
        <input style="width: 50%" type="text" name="descricao" class="form-control" placeholder="Digite a descrição">
        <br>
        <label>Valor:</label>
        <input style="width: 10%" type="number" name="valor" class="form-control">
        <br>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Categoria:</label>
                <select name="categoria" class="form-control">
                    <option selected>Escolher...</option>
                    {% for cat in categorias %}
                    <option value="{{cat.id}}">{{cat}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Unidade de Medida:</label>
                <select name="und_medida" class="form-control">
                    <option>Escolher...</option>
                    {% for und in und_medidas %}
                    <option value="{{und.id}}">{{und.sigla}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <label>Observação:</label>
        <textarea style="width: 50%" class="form-control" name="observacao" rows="5"></textarea>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'servicos' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
</div>

{% endblock %}