{% extends 'base.html' %}

{% block 'titulo' %} Criar Produto {% endblock %}

{% block 'conteudo' %}

<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Cadastro de Produtos</h2>
    </div>
    <br>
    <br>
    <form method="POST" action="{% url 'valida_produto' %}">{% csrf_token %}
        <label>Descrição:</label>
        <input style="width: 50%" name="descricao" class="form-control" type="text" required placeholder="Digite a descrição">
        <br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Preço Venda:</label>
                <input type="text" name="preco_venda" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>Quantidade:</label>
                <input type="number" name="quantidade" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Categoria:</label>
                <select name="categoria" class="form-control">
                    <option selected>Escolher...</option>
                    {% for cat in categorias %}
                        {% if cat.produto %}
                            <option>{{cat}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <label>Observação:</label>
        <textarea style="width: 50%" class="form-control" name="observacao" rows="5"></textarea>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'produtos' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
</div>

{% endblock %}