{% extends 'base.html'%}

{% block 'titulo' %} Cria Orcamento {% endblock %}

{%block 'conteudo' %}
<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Cadastro de Orçamento</h2>
    </div>
    <br>
    <br>
    <div class="form row form.group col-md-2" >
        <p>Criado em: {{ form.data_criacao }}</p>
    </div>
    <br>
    <form action="" method="GET">
        <div class="form row">
            <div class="form-group col-md-4">
                <label for="{{form.cliente.id_for_label}}">{{form.cliente.label}}</label>
                <input class="form-control" type="search" placeholder="Digite o Cliente" name="busca_cliente"
                  value="{% if form.cliente.value %} {{ form.cliente.value}} {% endif %}">
            </div>
            <div class="form-group col-md-4">
                <label for="{{form.terceiro.id_for_label}}">{{form.terceiro.label}}</label>
                <input class="form-control" type="search" placeholder="Digite o Terceiro" name="busca_terceiro"
                  value="{% if form.terceiro.value %} {{ form.terceiro.value}} {% endif %}">
            </div>
            <input class="btn btn-success btn-sm" type="Submit" value="Buscar">
        </div>
    </form>

    <form method="POST">{% csrf_token %}
        <div hidden class="form.group col-md-2" >
            <p>Criado em: {{ form.data_criacao }}</p>
        </div>
        <input hidden id="{{ form.cliente.id_for_label }}" name="{{ form.cliente.html_name }}"
                  value="{% if form.cliente.value %} {{ form.cliente.value.id}} {% endif %}">
        
        <input hidden id="{{ form.terceiro.id_for_label }}" name="{{ form.terceiro.html_name }}"
                  value="{% if form.terceiro.value %} {{ form.terceiro.value.id}} {% endif %}">

        <input hidden id="{{ form.usuario.id_for_label }}" name="{{ form.usuario.html_name }}"
                  value="{% if form.usuario.value %} {{ form.usuario.value.id}} {% endif %}">
        <div class="form-row">
        </div>
        <br>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="{{ form.observacao.id_for_label }}">{{ form.observacao.label }}</label>
                <textarea class="form-control" id="{{ form.observacao.id_for_label }}" name="{{ form.observacao.html_name }}"
                    rows="5"></textarea>
            </div>
        </div>

                <label hidden for="{{ form.valor.id_for_label }}">{{ form.valor.label }}</label>
                <input hidden class="form-control" type="number" name="{{ form.valor.html_name }}" id="{{ form.valor.id_for_label }}"
                    value="{{ form.valor.value }}">


        {{ form_item.management_form }}
            {% for fi in form_item %}
            <div class="inlineform form-inline">
               {{fi}}
            </div>

   
            {% endfor %}
        <br>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp 
        <a href="{% url 'cria_orcamento' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
<div>
{% endblock %}

{% block 'scripts' %}

<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ form_item.prefix }}',
            addText: 'Adicionar Item',
            deleteText: 'Remover Item',
            
        });
    })
</script>

{% endblock %}