{% extends 'base.html' %}

{% block 'titulo' %} Editar Servico {% endblock %}

{% block 'conteudo' %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirma a Exclusão ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="text-align: center" class="modal-body">
          <a class="btn btn-danger btn-sm" href="{% url 'excluir_servico' servico.id %}">Excluir</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Editar Serviço</h2>
    </div>
    <br>
    <br>
    <form action="{% url 'edita_servico' %}" method="POST" >{% csrf_token %}
        <label>Descrição:</label>
        <input style="width: 50%" type="text" name="descricao" class="form-control" placeholder="Digite a descrição">
        <br>
        <label>Valor:</label>
        <input style="width: 10%" type="number" name="valor" class="form-control">
        <br>
        <label>Categoria:</label>
        <select style="width: 30%" name="categoria" class="form-control">
            <option selected>Escolher...</option>
            {% for cat in categorias %}
                <option value="{{cat.id}}">{{cat}}</option>
            {% endfor %}
        </select>
        <br>
        <label>Observação:</label>
        <textarea style="width: 50%" class="form-control" name="observacao" rows="5"></textarea>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'servicos' %}" class="btn btn-primary btn-sm">Cancelar</a>
    </form>
</div>

{% endblock %}