{% extends 'base.html' %}

{% block 'titulo'  %} Edita Unidade Medida {% endblock  %}

{% block 'conteudo' %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirma a Exclusão ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="text-align: center" class="modal-body">
            <a class="btn btn-danger btn-sm" href="{% url 'excluir_und' und.id %}">Excluir</a>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <div style="text-align: center">
      <br>

        <h2> Editar Unidade Medida </h2>

        {% if messages %}
          {% for message in messages %}
              <div class="alert {{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}

    </div>
    <br>
    <form method='POST'>{% csrf_token %}

        <label for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
        <input style="width: 40%" name="{{ form.descricao.html_name }}" class="form-control" type="text" 
            placeholder="Digite a descrição" id="{{ form.descricao.id_for_label }}" 
            value="{% if form.descricao.value %} {{ form.descricao.value}} {% endif %}">

        <br>

        <label for="{{ form.sigla.id_for_label }}">{{ form.sigla.label }}</label>
        <input style="width: 20%" name="{{ form.sigla.html_name }}" type="text" class="form-control"
                placeholder="Ex: M²" id="{{ form.sigla.id_for_label }}"
                value="{% if form.sigla.value %} {{ form.sigla.value}} {% endif %}">
        
        <br>
        <br>

        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'und_medidas' %}" class="btn btn-primary btn-sm">Cancelar</a>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
            Excluir
        </button>
    </form>

</div>

{% endblock  %}