{% extends 'base.html' %}

{% load format_decimal %}

{% block 'titulo' %} Editar Produto {% endblock %}

{% block 'conteudo' %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirma a Exclusão ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="text-align: center" class="modal-body">
          <a class="btn btn-danger btn-sm" href="{% url 'excluir_produto' produto.id %}">Excluir</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div style="text-align: center">
        <br>
        <h2>Editar Produto</h2>
    </div>
    <br>
    <br>
    <form method="POST" action="{% url 'edita_produto' produto.id %}">{% csrf_token %}
        <label>Descrição:</label>
        <input style="width: 50%" name="descricao" class="form-control" type="text" value="{{produto.descricao}}" required placeholder="Digite a descrição">
        <br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Preço Venda:</label>
                <input type="number" step="any" name="preco_venda" class="form-control" value="{{produto.preco_venda|format_decimal}}">
            </div>
            <div class="form-group col-md-2">
                <label>Quantidade:</label>
                <input type="number" name="quantidade" class="form-control" value="{{produto.quantidade}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Categoria:</label>
                <select name="categoria" class="form-control">
                    {% for cat in categorias %}
                        {% if produto.categoria == cat %}
                            <option value="{{cat.id}}" selected>{{cat}}</option>
                        {% else %}
                            <option value="{{cat.id}}">{{cat}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Unidade de Medida:</label>
                <select name="und_medida" class="form-control">
                    {% for und in und_medidas %}
                        {% if produto.und == und %}
                            <option value="{{und.id}}" selected>{{und.sigla}}</option>
                        {% else %}
                            <option value="{{und.id}}">{{und.sigla}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <label>Observação:</label>
        <textarea style="width: 50%" class="form-control" name="observacao" rows="5">{{produto.observacao}}</textarea>
        <br>
        <br>
        <input class="btn btn-success btn-sm" type="Submit" value="Salvar">&nbsp&nbsp&nbsp
        <a href="{% url 'produtos' %}" class="btn btn-primary btn-sm">Cancelar</a>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
            Excluir
        </button>
    </form>
</div>

{% endblock %}