{% extends 'base.html' %}

{% block 'titulo' %} Orçamentos {% endblock %}

{% block 'conteudo' %}

<div class="container">
    <div class="col-md">
        <h2>Orçamentos</h2>
    </div>
    <a href="{% url 'cria_orcamento' %}" type="button" class="btn btn-success">Novo Orçamento</a>
    <br>
    <br>
    <hr>

    <table class="table table-striped">
        {% for i in orcamentos %}
            <tr>
                <td>
                    {{ i }} -
                    {{i.cliente}} - 
                    Valor Total: {{i.valor}}
                    <ul>
                        {% for j in i.itens.all %}
                            <li>{{j.item_produto}} | Quantidade: {{j.quantidade}} | Valor: {{j.item_valor}}</li>
                        {% endfor %}
                        
                    </ul>
                    <ul>
                        {% for q in i.itens_servicos.all %}
                            <li>{{q.item_servico}} | Quantidade: {{q.quantidade}} | Valor: {{q.item_valor_servico}}</li>
                        {% endfor %}
                        
                    </ul>
                </td>
                <td><a href="{% url 'edita_orcamento' i.id %}" type="button" class="btn btn-info btn-sm">Editar/Excluir</a></td>
            </tr>

        {% endfor %}
        </table>
</div>
{% endblock %}