{% extends 'base.html' %}

{% block 'titulo' %} Unidade Medida {% endblock %}

{% block 'conteudo' %}

<div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md">
          <br>
          <h2>Unidade de Medidas</h2>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="GET">
                <div class="form-group row">
                    <input class="form-control" type="search" id="search-input" placeholder="Buscar" name="termo"
                      value="{{ rquest.GET.termo }}">
                </div>
            </form>
        </div>
        <div class="col-md"></div>
        <div class="col-md">
            <a href="{% url 'cria_und' %}" type="button" class="btn btn-success">Cadastrar Unidade Medida</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Descrição</th>
              <th scope="col">Sigla</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for und in und_medidas %}
                <tr>
                  <td>{{ und.descricao }}</td>
                  <td>{{ und.sigla }}</td>
                  <td><a href="{% url 'edita_und_medida' und.id %}" type="button" class="btn btn-info btn-sm">Editar/Excluir</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock  %}