{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'static/css/usuarios/login.css' %}">
{% endblock %}

{% block 'conteudo' %}

<section class="area-login">
    <div class="login">
        <div>
            <img src="{% static 'static/media/logo.png' %}" alt="">
        </div>

        <form method="POST" action="{% url 'validar_login' %}"> {% csrf_token %}
            <input type="text" name="email" placeholder="Digite seu E-mail" autofocus>
            <input type="password" name="senha" placeholder="Digite sua Senha">
            <input type="submit" value="Entrar">
        </form>
    </div>
</section>

{% endblock %}